:3000 {
    @cors_preflight {
        method OPTIONS
    }
    respond @cors_preflight 204

    header Access-Control-Allow-Credentials true
        header Access-Control-Allow-Origin "{materialious_url}" {
        defer
    }
        header Access-Control-Allow-Methods "GET,POST,OPTIONS,HEAD,PATCH,PUT,DELETE"
        header Access-Control-Allow-Headers "User-Agent,Authorization,Content-Type"

    reverse_proxy invidious:3000
}

